@model IEnumerable<FightMatrix.Models.News>

@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center">News</h1>
<a asp-action="Create" class="btn btn-success text-white">New</a>
@foreach (var item in Model)
{
    <table class="table">
        <tbody>
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsDate)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger text-white">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
}
